<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, sunt vitae saepe architecto corporis, fugit doloremque dolorem repudiandae quas praesentium sed optio laborum porro dolorum esse ipsum quos. Consectetur, similique.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="https://media-exp1.licdn.com/dms/image/C4D1BAQHta9oHLpzQRw/company-background_10000/0/1617826284237?e=2159024400&v=beta&t=pOHrJb37XXlwM4Me1kxvLnhOCUAHrQDQiqaEWfRtKA8" >

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, sunt vitae saepe architecto corporis, fugit doloremque dolorem repudiandae quas praesentium sed optio laborum porro dolorum esse ipsum quos. Consectetur, similique.
    </ion-card-content>
  </ion-card>

</ion-content>
